package @Package@;

import org.springframework.data.querydsl.QuerydslPredicateExecutor;
import org.springframework.data.repository.CrudRepository;

import @ModelPath@;

/**
 * @Model@Repository
 */
public interface @Model@Repository extends CrudRepository<@Model@, String>, QuerydslPredicateExecutor<@Model@> {

}
